:root {
  --Linear-Gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);

  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}
/* css reset */
*::after,
*::before,
* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
ul,
body,
picture {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* css reset */
body {
  margin: 0;
  background: var(--Very-Light-Grayish-Blue);
  font-family: "Montserrat", serif;
  background-image: url(./assets/bg-top.svg), url(./assets/bg-bottom.svg);
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-size: 250px;
}
